{% extends "base.html" %}
{% load static %}
{% block title %}Admin{% endblock title %}

{% block content %}
    <div class="container text-center">
        <h3 class="text-center mt-5">Administración</h3>

        <form action="logout" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Salir">
        </form>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col mt-5">
                <h5>Invitados</h5>
                <hr>
                <table class="table table-light table-bordered">
                    <tr>
                        <th>Nombre</th>
                        <th>Menú</th>
                        <th>Acciones</th>
                    </tr>
                    {% for invite in invites %}
                        <tr>
                            <td>{{ invite.last_name }} {{ invite.first_name }}</td>
                            <td>{{ invite.menu }}</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-sm edit" name="{{ invite.id }}" title="Editar"  data-bs-toggle="modal" data-bs-target="#editModal">&#9997;</button>
                                    <form action="delete/{{ invite.id }}" method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-sm" type="submit" title="Eliminar" onclick="return confirmDelete();">&#128465;</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                
            </div>
            <div class="col mt-5">
                <h5>Datos</h5>
                <hr>
                <table class="table table-light table-bordered">
                    <tr>
                        <th>Categoria</th>
                        <th>Cantidad</th>
                    </tr>
                    <tr>
                        <td>Total de grupos</td>
                        <td>{{ total_groups }}</td>
                    </tr>
                    <tr>
                        <td>Total de invitados</td>
                        <td>{{ total }}</td>
                    </tr>
                    <tr>
                        <td>Sin Condicion</td>
                        <td>{{ sin_condicion }}</td>
                    </tr>
                    <tr>
                        <td>Vegetariano</td>
                        <td>{{ vegetariano }}</td>
                    </tr>
                    <tr>
                        <td>Vegano</td>
                        <td>{{ vegano }}</td>
                    </tr>
                    <tr>
                        <td>Celiaco</td>
                        <td>{{ celiaco }}</td>
                    </tr>
                </table>
                <!-- <h5 class="text-center">Descargas</h5>
                <div class="container">
                    <p class="text-muted"><b>Aclaración: </b>Cuando se descargan los siguientes
                        archivos, solamente van a estar reflejados los invitados que estan inscriptos
                        en el momento de la descarga.
                    </p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-outline-success m-1">Descargar Excel</button>
                        <button class="btn btn-outline-danger m-1">Descargar PDF</button>
                    </div>
                </div> -->
            </div>
        </div>

        <div class="row rounded mt-5">
            <h5>Invitados por grupo</h5>
            <hr>
            <div class="col">
                <table class="table table-light table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Grupo</th>
                            <th>Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in groups %}
                            <tr>
                                <td><button class="btn searchInfo" name="{{ group.id }}" type="button">{{ group.mail }}</button></td>
                                <td>{{ group.note }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col">
                <table class="table table-light table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Menú</th>
                        </tr>
                    </thead>
                    <tbody id="displayInfo">

                    </tbody>
                </table>
            </div>
        </div>


    <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="update" method="post">
                        {% csrf_token %}
        
                        <input class="form-control" type="number" name="id" id="id" readonly>
                        <input class="form-control mt-1" type="text" name="first_name" id="first_name">
                        <input class="form-control mt-1" type="text" name="last_name" id="last_name">
                        <select class="form-select mt-1" name="menu" id="menu" aria-label="Default select example" required>
                            <option value="sin_condicion">Sin Condicion</option>
                            <option value="vegetariano">Vegetariano</option>
                            <option value="vegano">Vegano</option>
                            <option value="celiaco">Celiaco</option>
                        </select>
        
                        <br>
                        <hr>
                        <div class="d-flex justify-content-end">
                            <input class="btn btn-success me-1" id="submitButton" type="submit" value="Guardar">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/update.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/delete.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>

{% endblock js %}
